<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="AutoFarmTiktok.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Reflection.TypeExtensions" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.0" newVersion="4.1.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <AutoFarmTiktok.Properties.Settings>
      <setting name="IsSaveProfile" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="FocusChromeJobLike" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="DelayBeforeJob" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="AutoRunAllNormal" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="AutoRunNotRun" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="AutoRunFailLogin" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="AutoRunBlock" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="AutoRunAll" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="AddChromeToForm" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="DoJobLinkUs" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="GetJobToken" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="IsResetOutOfJob" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="IsResetBlock" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="IsResetDoneJob" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="IsUseMouseJobLike" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="IsDragMouseJobLike" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="IsRandomJob" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="FolderLD" serializeAs="String">
        <value />
      </setting>
      <setting name="IsQuitLDEachTurn" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="numRetryJobLike" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="IsRetryJobLike" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="DoLikeCH" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="DoLikeL" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="DoLikeDC" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="FocusChromeJobFollow" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="IsUseMouseJobFollow" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="IPVPN" serializeAs="String">
        <value>United States (USA)</value>
      </setting>
      <setting name="Setting" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="WidthChrome" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="HeightChrome" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="SimulateBlock" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="FolderOrbita" serializeAs="String">
        <value />
      </setting>
      <setting name="ChromeCPU" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="ChromeRAM" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="TypeVPN" serializeAs="String">
        <value>-1</value>
      </setting>
      <setting name="AccountVPN" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="UserExtensionBlockVideo" serializeAs="String">
        <value>False</value>
      </setting>
    </AutoFarmTiktok.Properties.Settings>
  </userSettings>
</configuration>